DATABASE_URL=postgres://:@localhost/vef2-2021-h1
JWT_SECRET=
PORT=3000
TMDB_TOKEN=
CLOUDINARY_URL=


# Tests
## Against which base url should the tests run
BASE_URL=http://localhost:3000

## Hardcoded admin test user, see note in tests readme
ADMIN_USER=admin
ADMIN_PASS=123
